{% extends "index.html" %}
{% block show_url %}

<div id="shortened-links">
     <div>
          <div class="item">
               <div class="long-url">
                    <div class="title font-1">Long URL</div> <button id="long-url" class="font-2">
                         {{link}}
                    </button>
               </div>
               <div class="short-url">
                    <div class="title font-1">Short URL</div>
                    <p id="myText" class="font-2 hint--bottom" ononclick="copy(this)">https://short.sumitdhiman.in/{{alias}}</p>
               </div>
          </div>
     </div>
</div>
<script>
 function copy(that){
var inp =document.createElement('input');
document.body.appendChild(inp)
inp.value =that.textContent
inp.select();
document.execCommand('copy',false);
inp.remove();
}
</script>
{% endblock show_url %}
